---
import ImgComp from "../base/ImgComp.astro";
const { title, clients } = Astro.props;

type clientType = {
  image: string;
  link: string;
};
---

<section class="anim-wrapper bs-container bs-mt-lg grid">
  <!-- Title -->
  {title && <h2 class="bs-h2 text-center" set:html={title} />}

  <!-- Logos -->
  <div
    class="bs-mt-md grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 place-content-center gap-4"
  >
    <!-- Logo link -->
    {
      clients.map((item: clientType) => (
        <a
          class="group py-10 px-5 rounded-xl flex place-content-center bg-bs-surface-2/70 hover:bg-bs-surface-2 transition-colors duration-300"
          href={item.link}
          aria-label="client logo"
        >
          <ImgComp
            src={item.image}
            alt="logo client"
            className="opacity-60 max-w-32 min-h-16 group-hover:scale-[1.05] group-hover:-translate-y-1 group-hover:opacity-100 group-hover:-rotate-1 ease-bs-bounce transition-all duration-1000"
            width="140"
            height="40"
          />
        </a>
      ))
    }
  </div>
</section>
