---
import DetailsAccordion from "../base/DetailsAccordion.astro";

const { title, faq } = Astro.props;

type FaqItem = {
  question: string;
  answer: string;
};
---

<section class="bs-container bs-mt-lg grid" id="faq">
  <!-- Title -->
  {title && <h2 class="bs-h2 text-center md:text-left" set:html={title} />}

  <!-- FAQ -->
  <div class="grid gap-2 bs-mt-sm">
    <!-- Item -->
    {
      faq.map((item: FaqItem) => (
        <DetailsAccordion question={item.question} answer={item.answer} />
      ))
    }
  </div>
</section>
