---
const { title, testimonials } = Astro.props;

type Testimonial = {
  handle: string;
  quote: string;
};
---

<section class="bs-container bs-mt-lg">
  <!-- Title -->
  {title && <h2 class="bs-h2 text-center md:text-left">{title}</h2>}

  <!-- Testimonials -->
  <div
    class="group bs-mt-md grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 place-content-center gap-4"
  >
    <!-- Quote -->
    {
      testimonials.map((item: Testimonial) => (
        <blockquote
          class:list={[
            "group-hover:opacity-75 hover:opacity-100 duration-300 p-3 md:p-5 flex flex-col gap-3 justify-between border rounded-md bg-bs-surface-2 border-bs-surface-3 transition-all grid-flow-dense",
            item.quote.length > 100 ? "lg:col-span-2" : "",
          ]}
        >
          <p
            set:html={item.quote}
            class:list={[
              "text-sm lg:text-lg",
              item.quote.length > 100 ? "line-clamp-4 lg:line-clamp-none" : "",
            ]}
          />

          <cite class="not-italic text-bs-foreground-dark text-sm font-semibold">
            @{item.handle}
          </cite>
        </blockquote>
      ))
    }
  </div>
</section>
